<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>115601924778-7u1kj9fc2c23t5jhjhfp4b4vv6719fn0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.115601924778-7u1kj9fc2c23t5jhjhfp4b4vv6719fn0</string>
	<key>API_KEY</key>
	<string>AIzaSyBmxyfBNTbEX9o98KOMUqV96JauMuEcV_E</string>
	<key>GCM_SENDER_ID</key>
	<string>115601924778</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.socialFlow</string>
	<key>PROJECT_ID</key>
	<string>social-flow-backend</string>
	<key>STORAGE_BUCKET</key>
	<string>social-flow-backend.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:115601924778:ios:44b50834b64583e135a6d3</string>
</dict>
</plist>